.react-spinner-material {
  border: 2px solid #333;
}

.snip {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    align-items: left;
    justify-content:space-around;
    margin-left: -155px;
    max-height: 50px;
  }
}
